 @{ 
    ViewData["Title"] = "SalesWebMVC";
}

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Para mais informações, me envie um </strong><a href="mailto:vini.souza00@gmail.com">e-mail</a>
</address>